li {
  list-style-type: none;
  width: 33%;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 25px;
}

/* Your code here */
optliion[data-type="drinks"] {
  color: aliceblue;
}
option[data-type="bakery"] {
  color: antiquewhite;
}
li[data-type="canned"] {
  color: aqua;
}
li[data-type="dairy"] {
  color: aquamarine;
}
li[data-type="frozen"] {
  color: azure;
}
li[data-type="meats"] {
  color: beige;
}
li[data-type="produce"] {
  color: bisque;
}
li[data-type="toiletries"] {
  color: black;
}
